/// @param()
/// media mixin for small mobile and tablets 
@mixin media($tex-height, $tex-h2, $tex-p, $svg-gap, $svg-scl, $img-height){
    .links {
        justify-content: flex-start;
        width: 100%;
        position: relative;
        .hamburger{
            display: flex;
            position: fixed;
            right: 1em;
            top: 1em;
            width: 6%;
            height: 5%;
            border: none;
            align-items: center;
            padding: 0;
            flex-direction: column;
            background-color: transparent;
            z-index: 999;
        }
        .bar1, .bar2, .bar3{
            display: flex;
            width: 100%;
            height: 0.3em;
            background: #020202;
            padding: 0;
            margin: 0;
            transition: .7s ease;        
        }
        .bar1{
            margin-bottom: 20%;
        }
        .bar2{
            margin-bottom: 20%;
        }
        .rotate1, .rotate2{
            display: flex;
            width: 100%;
            height: 0.3em;
            background: #222;
            padding: 0;
            margin: 0;
            transition: .7s ease;
        }
        .rotate1{
            transform: rotate(45deg);
        }
        .rotate2 {
            position: absolute       ;
            transform: rotate(-45deg);
        }
        .opacity {
            opacity: 0;
        }
        .open{
            top: 0;
        }    
        nav {
            display: flex;
            position: fixed;
            width: 65%;
            height: 100%;
            top: -100%;
            right: 0;
            background: #fff;
            z-index: 998;
            flex-direction: column;
            transition: .5s ease; 
            -webkit-transition: .5s ease; 
            -moz-transition: .5s ease; 
            -ms-transition: .5s ease; 
            -o-transition: .5s ease;
            ul{
                flex-direction: column;
                margin-top: 2em;
                font-size: 1.6em;
                .feature, .company{
                    padding: 0.8em;
                    width: 6em;
                    box-shadow: unset;
                    position: relative;
                    margin: 0;
                    font-size: 0em;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    top: 0.9em;
                    left: unset;
                }
            }
        }
        .btm{
            flex-direction: column;
            width: 80%;
            margin: 2em;
            height: unset;
            align-items: center;
            .register{
                height: 3em;
                width: 90%;
            }
        }
    }

    section {
        flex-direction: column;
        padding: 1em;
    }
    .image {
        width: 100%;
        height: $img-height;
    }
    .text {
        width: 100%;
        height: $tex-height;
        align-items: center;
        h2 {
            font-size: $tex-h2;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        p{
            font-size: $tex-p;
        }
        button {
            background: #000;
            color: #fff;
            font-weight: 600;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
        .client {
            gap: $svg-gap;
            svg{
                transform: scale($svg-scl);
                -webkit-transform: scale($svg-scl);
                -moz-transform: scale($svg-scl);
                -ms-transform: scale($svg-scl);
                -o-transform: scale($svg-scl);
            }
        }
    }
}

@mixin media-md(){
    .links{
        width: 50%;
    }
    section{
        padding: 2em 6em 2em 6em;
    }
}

@mixin media-lg(){
    .links{
        nav {
            ul{
                font-size: 1.1em;
            }
        }
    }
    section{
        padding: 1em 6em 2em 6em;
        .image {
            width: 38%;
            height: 35em;
        }        
    }
    .text{ 
        h2 {
            font-size: 4.7em;
        }
        p {
            font-size: 1.3em;
        }
        button{
            width: 11em;
            height: 3em;
        }
    }
}